.Tilt {
  background: #090909; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #090909,
    #af1313,
    #282f3f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #090909, #282f3f, #af1313);
}
